* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: SF PRO DISPLAY;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    overflow: hidden;
}

#page {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#page>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 7vh;
    width: 50vw;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

#page>nav>button {
    padding: 7px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #fff;
}

#page>nav>h3 {
    font-weight: 400;
}

#page>video {
    height: 100%;
    width: 50%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#page-bottom {
    height: 20%;
    width: 25%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page-bottom>h3 {
    color: #dadada90;
    margin-bottom: 1vw;
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#page1>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1>h1 {
    font-size: 4vw;
    color: #fff;
    font-weight: 400;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page2>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page2>h1 {
    font-size: 4vw;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

#page3>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page3>h1 {
    font-size: 4vw;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

#page4>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page4>h1 {
    font-size: 4vw;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

#page4>h2 {
    font-size: 4vw;
    position: relative;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

#page5 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#page5>img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page5-upper {
    height: 25%;
    width: 35%;
    position: absolute;
    z-index: 9;
    /* cursor: pointer; */
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#page5-upper>img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}

#page5-upper-inner {
    position: absolute;
    bottom: 0%;
    height: 60%;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    color: #ff823d;
}

#page5-upper-inner>h3 {
    font-weight: 500;
    /* font-size: x-medium; */
}

#page5>button {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    cursor: pointer;
    border: 1px solid #000;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    border-radius: 50px;
    font-size: 1.4vw;
}

#page6 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page6>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#center-page6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;
}

#page7 {
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
}

.left7 {
    position: relative;
    height: 100%;
    width: 50%;
}

.left7>h1 {
    font-size: 2.3vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}

.right7 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 5vw;
}

.right7>h3 {
    font-size: 2vw;
    width: 90%;
    color: rgb(78, 74, 74);
}

.right7>button {
    padding: 15px 35px;
    border: none;
    background-color: #ff823d;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    border-radius: 50px;
    font-size: 2;
    margin-top: 1.5vw;
}

#page8 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page8>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#center-page8 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;
}

#page9 {
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
}

.left9 {
    position: relative;
    height: 100%;
    width: 50%;
}

.left9>h1 {
    font-size: 2.3vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}

.right9 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 5vw;
}

.right9>h3 {
    font-size: 2vw;
    height: 67%;
    width: 90%;
    color: rgb(78, 74, 74);
}

.right9>button {
    padding: 15px 35px;
    border: none;
    background-color: #ff823d;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    border-radius: 50px;
    font-size: 2;
    margin-top: 1.5vw;
}

#page10 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page10>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#center-page10 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;
}

#page11 {
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
}

.left11 {
    position: relative;
    height: 100%;
    width: 50%;
}

.left11>h1 {
    font-size: 2.3vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}

.right11 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 5vw;
}

.right11>h3 {
    font-size: 2vw;
    width: 90%;
    color: rgb(78, 74, 74);
}

.right11>button {
    padding: 15px 35px;
    border: none;
    background-color: #ff823d;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    border-radius: 50px;
    font-size: 2;
    margin-top: 1.5vw;
}

#page12 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page12>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#center-page12 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;
}

#page13 {
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
}

.left13 {
    position: relative;
    height: 100%;
    width: 50%;
}

.left13>h1 {
    font-size: 2.3vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}

.right13 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 85%;
    width: 50%;
    padding-left: 5vw;
}

.right13>h3 {
    font-size: 2vw;
    width: 90%;
    color: rgb(78, 74, 74);
}

.right13>button {
    padding: 15px 35px;
    border: none;
    background-color: #ff823d;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    border-radius: 50px;
    font-size: 2;
    margin-top: 1.5vw;
}

#page14 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page14>h3 {
    margin-bottom: 1vw;
    font-size: 3vw;
}

#page14>h1 {
    margin-bottom: 1vw;
    font-size: 6vw;
}

#page14>p {
    font-size: 2.02vw;
    width: 60%;
    font-weight: 700;
    color: #545454c9;
}

#page15 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page15>canvas {
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99;
}

#page16 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;

}

#page16>h1 {
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page16>h1>span {
    color: #000;
}

#page17 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page17>h1 {
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page17>h1>span {
    color: #000;
}

#page18 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;

}

#page18>h1 {
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page18>h1>span {
    color: #000;
}

#page19 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page19>h1 {
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page19>h1>span {
    color: #000;
}

#page20 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;

}

#page20>h1 {
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page20>h1>span {
    color: #000;
}

#page21 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page21>h1 {
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page21>h1>span {
    color: #000;
}

#page22 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

.left22 {
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_top__k3b8lzqd1l2m_large.jpg);
    background-size: cover;
}

.right22 {
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_side__gm4agomrwl2e_large.jpg);
    background-size: cover;
}

#page23 {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#center-page23 {
    height: 90%;
    width: 95%;
    position: relative;
    overflow: hidden;
}

#center-page23>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page24 {
    position: relative;
    height: 120vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page24>h2 {
    position: absolute;
    width: 50%;
    color: #434343c7;
    font-weight: 500;
    top: 5%;
}

#page24>h2>span {
    color: #000;
}

#page24>img {
    width: 57%;
    position: absolute;
    bottom: 0%;
}

#page24>button {
    position: absolute;
    bottom: 10%;
    padding: 10px 20px;
    font-size: 1.5vw;
    cursor: pointer;
    border-radius: 50px;
    background-color: #ff823d;
    color: #fff;
    font-weight: 500;
    border: none;
}

#page25 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page25>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#center-page25 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 2.4vw;
}

#page26 {
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
}

.left26 {
    position: relative;
    height: 100%;
    width: 50%;
}

.left26>h1 {
    font-size: 2.3vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}

.right26 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 5vw;
}

.right26>h3 {
    font-size: 2vw;
    height: 80%;
    width: 90%;
    color: rgb(78, 74, 74);
}

#page27 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

.left27 {
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/visionos/scaling_ui__gosi0305um2y_medium_2x.jpg);
    background-size: cover;
}

.right27 {
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/visionos/spatial_interaction__br11mf88bzxy_medium_2x.jpg);
    background-size: cover;
}

#page28 {
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
}

.left28 {
    position: relative;
    height: 100%;
    width: 50%;
}

.left28>h1 {
    font-size: 2.3vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}

.right28 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 5vw;
}

.right28>h3 {
    font-size: 2vw;
    height: 80%;
    width: 90%;
    color: rgb(78, 74, 74);
}

#page29 {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#center-page29 {
    height: 90%;
    width: 95%;
    position: relative;
    overflow: hidden;
}

#center-page29>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page30 {
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
}

.left30 {
    position: relative;
    height: 100%;
    width: 50%;
}

.left30>h1 {
    font-size: 2.3vw;
    position: absolute;
    left: 50%;
    /* height: 0%; */
    transform: translateX(-50%);
    top: 10%;
}

.right30 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    width: 50%;
    padding-left: 5vw;
}

.right30>h3 {
    font-size: 2vw;
    width: 90%;
    color: rgb(78, 74, 74);
}

.right30>button {
    padding: 15px 35px;
    border: none;
    background-color: #ff823d;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    border-radius: 50px;
    font-size: 4;
    margin-top: 1.5vw;
}

#page31 {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}

#page31>h4 {
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 2vw;
}

#page31>h1 {
    font-size: 5vw;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 3vw;
}

#page31>p {
    font-size: 1.7vw;
    font-weight: 500;
    margin-bottom: 2vw;
    color: #ffffff7c;
    width: 50%;
    text-align: center;
}

#page31>p>span {
    color: #fff;
}

#page32 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 30vh;
    width: 100vw;
    background-color: #000;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
}

#page32>h5 {
    width: 35%;
}

#page33 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#page33>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#center-page33 {
    position: absolute;
    height: 20%;
    width: 20%;
    bottom: 18%;
    right: 5%;
    color: #fff;
}

#center-page33>h1 {
    margin-bottom: 1.7vw;
}

#page34 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#page34>#troff {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50%;
    z-index: 9;
}

#page34>#tron {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50%;
}

#page35 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 30vh;
    width: 100vw;
    background-color: #000;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
}

#page35>h5 {
    width: 35%;
}

#page36 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#page36>#snroff {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50%;
    z-index: 9;
}

#page36>#snron {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50%;
}

#page37 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 30vh;
    width: 100vw;
    background-color: #000;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
}

#page37>h5 {
    width: 35%;
}

#page38 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#page38>img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0
}

#page39 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #000;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
}

#page39>h1 {
    width: 52%;
    height: 16vh;
}

#page39>h5 {
    width: 52%;
    height: 30vh;
}

#page39>button {
    position: absolute;
    /* margin-top: 80%; */
    bottom: 15%;
    /* height: 60vh; */
    padding: 10px 20px;
    font-size: 1.5vw;
    border-radius: 50px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    font-weight: 500;
    border: none;
}

#page40 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* position: absolute; */
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #000000;
}

#page40>img {
    height: 8%;
    margin-top: 0.5%;
    cursor: pointer;
    width: 5%;
    bottom: 70vh;
}

#page40>h3 {
    margin-bottom: 0.6vw;
    color: #fff;
    font-size: 2vw;
}

#page40>h1 {
    margin-bottom: 0.6vw;
    font-size: 2.4vw;
    color: #fff;
}